{% extends "base.html" %}

{% block title %}{{ movie.title }}{% endblock %}

{% block page_content %}

<div class="content">
    <a href="#" class="left" ><img class="margin" src="{{ movie.images }}"/>
    </a>
        <br>
      <h1>
        {{ movie.title }}
        {% if current_user.is_administrator() %}
        <a class="btn btn-danger" href="{{ url_for('.edit_movie', id=movie.id) }}">修改影片信息</a>
        <a class="btn btn-danger" href="{{ url_for('.delete_movie', id=movie.id) }}">删除影片</a>
        {% endif %}
      </h1>
        <p><small>导演: </small> {{ movie.directors }}</p>
        <p><small>主演: </small> {{ movie.casts }}</p>
        <p><small>类型: </small> {{ movie.genres }}</p>
        <p><small>年份: </small> {{ movie.year }}</p>
        <p><small>评分: </small> {{ movie.rating }}</p>
        <p><small>又名: </small> {{ movie.original_title }}</p>
        <p><small>豆瓣: </small> <a href="{{ movie.alt }}">豆瓣电影</a></p>
        <p><small>借阅次数: </small> {{ movie.counts }} </p>
        {% if current_user.is_administrator() %}
        <p><small>库存: </small> {{ movie.amount }} </p>
        {% endif %}
        {% if current_user.is_authenticated %}
            {% if not current_user.is_borrowing(movie)%}
              {% if movie.can() and current_user.can_borrow() %}
                <a href="{{ url_for('.borrow', id=movie.id) }}" class="btn btn-primary">借阅</a>
              {% elif current_user.can_borrow() %}
                <button type="button" class="btn btn-lg btn-primary" disabled="disabled">暂时缺货</button>
              {% else %}
                <button type="button" class="btn btn-lg btn-primary" disabled="disabled">借阅</button>
                <h2>您已达到最大借阅数量！</h2>
              {% endif %}
            {% else %}
            <a href="{{ url_for('.return_movie', id=movie.id) }}" class="btn btn-warning">归还</a>
            {% endif %}
        {% endif %}
</div>
{% endblock %}
